---
interface Props {
  profilePic: ImageMetadata;
  name: string;
  summary: string;
  accolades: string[];
}

import { Image } from "astro:assets";
const { profilePic } = Astro.props;
const { name } = Astro.props;
const { summary } = Astro.props;
const { accolades } = Astro.props;
---

<div class="p-2 place-self-center">
  <div class="w-48 h-48 mx-auto">
    <Image class="rounded-full border-4" src={profilePic} alt={name} />
  </div>
  <div>
    <h3 class="text-2xl text-center text-yellow-50 font-bold">{name}</h3>
    <p class="text-neutral-50">{summary}</p>
  </div>
  <div class="grid place-items-center">
    <p>Laurel placeholder</p>
    <ul>
      {accolades.map((i: string) => <li>{i}</li>)}
    </ul>
  </div>
</div>
