---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
import Back from "../components/common/Back.astro";
---

<BaseLayout pageTitle={frontmatter.title}>
  <Back />
  <h1 class="mb-1 text-center font-bold text-2xl text-cyan-700">
    {frontmatter.title}
  </h1>
  <h3 class="font-medium text-center text-md text-stone-700">
    {frontmatter.description}
  </h3>
  <p class="text-sm text-center text-stone-500">{frontmatter.pubDate}</p>
  <hr class="mt-4" />
  <article class="prose prose-stone prose-p:leading-6 lg:prose-lg my-4">
    <slot />
  </article>
  <p class="text-stone-700 text-right font-medium">{frontmatter.author}</p>
</BaseLayout>
